<div class="login-body green12" ng-controller="loginformController">
	<form>
        <input type="text" ng-model= "user.username" />
        <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>  <br/> <br/> <br/>
        <input type="password" ng-model= "user.password" />
        <div class="navbar-fixed-bottom login-buttongroup">
        <button class="black02 f20" ng-click="exit()">Exit</button>
        <button class="red02 f20" data-toggle="modal" 
   data-target="#modal" ng-click="login()">Log In</button>
        </div>
    </form>
<alert-directive></alert-directive>

</div>