<div class="selection-body">
<div style="height:10rem">
</div>
<form action="" method="get" class="form-horizontal col-xs-10 col-xs-offset-1" ng-controller="searchfromController">
	<div class="form-group input-group-lg">
    	<div class="form-control">
        	<button class="btn">HSBC</button>
            <button class="btn btn-select">HSBC</button>
        </div>
    </div>
    <div class="form-group input-group-lg">
    	<div class="form-control">
        	<button class="btn">properity</button>
            <button class="btn">department</button>
        </div>
    </div>
  	<div class="navbar-fixed-bottom selection-buttongroup">
        <button class="black02 f20" ng-click="">New Search</button>
        <button class="red02 f20" ng-click="">Add New</button>
    </div>
</form>
<div class="col-xs-10 col-xs-offset-1">
    <p class = "black09">NO search result.Please check spelling and try again (tab<br> New Search)
    <br>
    <br>
    Hint:it is possible that<br>
    1.The client or property has different names<br>
    2.There is no contact so far-tab < Add New > to enter a new contact post
    </p>
</div>    
	

</div>

