* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.01rem;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
button{
	border: none;
	outline: none;
}
a {
	text-decoration: none;
}

body{
background:#f1f0fe;
}
/*加载图标 */
.loading{ width:0.7rem; height:0.7rem; position:fixed; z-index:50; left:50%; top:50%; margin-left:-25px; background-color:#000; border-radius:5px; background-image:url(../img/loading.gif);background-repeat: no-repeat;background-position: 50% 50%; background-size:70% 70%; opacity:0.6; display:none;}

.to-top{ width:0.7rem; height:0.7rem; position:fixed; z-index:60; right:0.2rem; bottom:0.2rem; margin-left:-25px; background-color:#000; border-radius:5px;  opacity:0.6; display:none; background-image:url(../img/arrow.png); background-repeat:no-repeat; background-size:70% 70%; background-position:50% 50%;}
.f16{ font-size:1.6rem}
.f18{ font-size:1.8rem}
.f20{ font-size:2rem}
.f24{ font-size:2.4rem}
.f30{ font-size:3rem}
.f36{ font-size:3.6rem}
.f40{ font-size:4rem}

.pink06{ color:#ee777d}
.blue06{ color:#50d8f1}
.purple06{ color:#cf76fd}
.green06{ color:#89da5c}
.black09{color:#999}

.black02{ background-color:#231d29}


.grey02{background-color:#656565}
.red02{ background-color:#cb2927}

/* partial containers */

.page-view
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: #fff;
    background-color:#FFFFFF;
    /*backface-visibility*/

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
    /*perspective*/
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
        -ms-perspective: 1000;
         -o-perspective: 1000;
            perspective: 1000;
}

/* Transitions */

/* Default Enter/Leave */
.ng-enter,
.ng-leave
{
    /*transition-timing-function*/
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    /*transition-duration*/
    -webkit-transition-duration: 250ms;
       -moz-transition-duration: 250ms;
         -o-transition-duration: 250ms;
            transition-duration: 250ms;
    /*transition-property*/
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
}
.ng-enter
{
    opacity: 0;
}
.ng-enter.ng-enter-active
{
    opacity: 1;
}
.ng-leave
{
    opacity: 1;
}
.ng-leave.ng-leave-active
{
    opacity: 0;
}
/* crossFade */
.crossFade.ng-enter
{
    /*transition-duration*/
    -webkit-transition-duration: 100ms;
       -moz-transition-duration: 100ms;
         -o-transition-duration: 100ms;
            transition-duration: 100ms;

    opacity: 0;
}
.crossFade.ng-enter.ng-enter-active
{
    opacity: 1;
}
.crossFade.ng-leave
{
    /*transition-duration*/
    -webkit-transition-duration: 100ms;
       -moz-transition-duration: 100ms;
         -o-transition-duration: 100ms;
            transition-duration: 100ms;

    opacity: 1;
}
.crossFade.ng-leave.ng-leave-active
{
    opacity: 0;
}
/* slideRight */
.slideRight
{
    opacity: 1 !important;
}
.slideRight.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(-100%,0,0);
       -moz-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
         -o-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
}
.slideRight.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideRight.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideRight.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(100%,0,0);
       -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
         -o-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
}
/* slideLeft */
.slideLeft
{
    opacity: 1 !important;
}
.slideLeft.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(100%,0,0);
       -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
         -o-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
}
.slideLeft.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideLeft.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideLeft.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(-100%,0,0);
       -moz-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
         -o-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
}
/* slideDown */

.slideDown.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(0,-100%,0);
       -moz-transform: translate3d(0,-100%,0);
        -ms-transform: translate3d(0,-100%,0);
         -o-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
}
.slideDown.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideDown.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideDown.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,100%,0);
       -moz-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
         -o-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
}
/* slideUp */
.slideUp
{
    opacity: 1 !important;
}
.slideUp.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(0,100%,0);
       -moz-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
         -o-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
}
.slideUp.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideUp.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideUp.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,-100%,0);
       -moz-transform: translate3d(0,-100%,0);
        -ms-transform: translate3d(0,-100%,0);
         -o-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
}