.search-body{
	height:100%;
	width:100%;
}

.search-buttongroup{
	height:4.5rem;
}
.search-buttongroup button{
	height:100%;
	width:33.3%;
	color:#FFFFFF;
	float:left;
}
.search-body .title-bar{color:white;background-color:#cb2927;line-height:4rem; text-align:center;}
.search-body .form-control{height:4rem; font-size:1.4rem;}