.selection-body{
	height:100%;
	width:100%;
}

.selection-buttongroup{
	height:4.5rem;
}
.selection-buttongroup button{
	height:100%;
	width:50%;
	color:#FFFFFF;
	float:left;
}

.selection-body .title-bar{color:white;background-color:#cb2927;line-height:4rem; text-align:center;}
.selection-body .form-control{height:4rem; font-size:1.4rem; padding-top:0; padding-left:0.5rem}

		
.selection-body .form-horizontal .form-group .form-control .btn{
	background:#ffffff;
	height:3rem;
	color:#cb2927;
	margin-top:0.4rem;
	border:#cb2927 solid 1px;
	
}
.selection-body .form-horizontal .form-group .form-control .btn-select{
	background:#cb2927;
	height:3rem;
	color:#FFFFFF;
	margin-top:0.4rem;
	
}
